<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dquav.dquav_platform.mapper.PhotoPackageMapper">

    <!--    插入照片压缩包数据-->
    <insert id="addPhotoPackage" useGeneratedKeys="true" keyProperty="photoId">
        INSERT INTO photopackage(activityid, photopakeage_name, photopakeage_site, is_guest)
        VALUES (#{activityId}, #{photoPackageName}, #{photoPackageSite}, #{isGuest})
    </insert>

    <!--    根据活动项目id查询照片压缩包数据-->
    <select id="getPhotoPackageByPhotoId" resultType="com.dquav.dquav_platform.entity.PhotoPackage">
        SELECT activityid AS activityId,
               photopakeage_name AS photoPackageName,
               photopakeage_site AS photoPackageSite,
               is_guest AS isGuest
        FROM photopackage
        WHERE photoid = #{photoId}
    </select>

    <!--    根据活动项目id查询照片压缩包数据-->
    <select id="getPhotoPackageByActivityId" resultType="com.dquav.dquav_platform.entity.PhotoPackage">
        SELECT photoid AS photoId,
               photopakeage_name AS photoPackageName,
               photopakeage_site AS photoPackageSite,
               is_guest AS isGuest
        FROM photopackage
        WHERE activityid = #{activityId}
    </select>

    <!--    根据照片压缩包名称 删除压缩包数据-->
    <delete id="deletePhotoPackageByPid" parameterType="java.lang.Integer">
        DELETE
        FROM photopackage
        WHERE photoid = #{photoId}
    </delete>

    <!--    根据活动项目id 删除压缩包数据-->
    <delete id="deletePhotoPackageById" parameterType="java.lang.Integer">
        DELETE
        FROM photopackage
        WHERE activityid = #{activityId}
    </delete>


</mapper>