<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dquav.dquav_platform.mapper.UserLevelMapper">

    <!--    添加用户等级-->
    <insert id="addUserLevel" useGeneratedKeys="true" keyProperty="lid">
        INSERT INTO userlevel(lid, level_name)
        VALUES (#{lid}, #{levelName})
    </insert>

    <!--    查询用户等级数据-->
    <select id="getUserLevel" resultType="com.dquav.dquav_platform.entity.UserLevel">
        SELECT lid,
               level_name AS levelName
        FROM userlevel
    </select>

    <!--    删除用户等级-->
    <delete id="deleteUserLevelByLid" parameterType="java.lang.Integer">
        DELETE
        FROM userlevel
        WHERE lid = #{lid}
    </delete>

</mapper>