<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dquav.dquav_platform.mapper.UserListMapper">

    <!--    添加用户-->
    <insert id="addUserList" useGeneratedKeys="true" keyProperty="uid">
        INSERT INTO userlist(lid, username, password, name, telephone)
        values (#{lid}, #{username}, #{password}, #{name}, #{telephone})
    </insert>

    <!--    查询所有用户信息-->
    <select id="getUserList" resultType="com.dquav.dquav_platform.entity.UserList">
        SELECT uid,
               lid,
               username,
               password,
               name,
               telephone
        FROM userlist
    </select>

    <!--    根据用户名查询用户信息-->
    <select id="getUserListByUsername" resultType="com.dquav.dquav_platform.entity.UserList">
        SELECT uid,
               lid,
               username,
               password,
               name,
               telephone
        FROM userlist
        WHERE username = #{username}
    </select>

    <!--    根据用户id查询用户信息-->
    <select id="getUserListById" resultType="com.dquav.dquav_platform.entity.UserList">
        SELECT uid,
               lid,
               username,
               password,
               name,
               telephone
        FROM userlist
        WHERE uid = #{uid}
    </select>

    <!--    根据用户id 删除用户数据-->
    <delete id="deleteUserByUid" parameterType="java.lang.Integer">
        DELETE
        FROM userlist
        WHERE uid = #{uid}
    </delete>

    <!--    根据用户id 修改用户数据-->
    <update id="updateUserByUid">
        UPDATE
            userlist
        SET username=#{username},
            password=#{password},
            lid=#{lid},
            name=#{name},
            telephone=#{telephone}
        WHERE uid = #{uid}
    </update>

</mapper>